[submodule "emojibase"]
	path = emojibase
	url = https://github.com/milesj/emojibase
[submodule "joypixels"]
	path = joypixels
	url = https://github.com/joypixels/emoji-assets.git
[submodule "emojilib"]
	path = emojilib
	url = https://github.com/muan/emojilib.git
